
<%= form_for @ad, :html => { :multipart => true } do |f| %>
   <%= f.error_messages %>

   <table>
     <tr>
       <td><%= f.label :title %></td>
       <td><%= f.text_field :title %></td>
     </tr>
     <tr>
       <td><%=f.label :format %></td>
       <td><%=f.select(:format, [["Video", 0],["Audio",1],["Print",2]] ) %></td>
     </tr>
     <tr>
       <td><%= f.label :goal %></td>
       <td><%= f.text_field :goal %></td>
     </tr>
     <tr>
       <td>Image</td>
       <td><%= f.file_field :image %></td>
     </tr>
     <tr>
       <td></td>
       <td><%= f.submit %></td>
     </tr>
   </table>
<% end %>
