<% title "Contributions" %>

<table>
  <tr>
    <th>Ad</th>
    <th>User</th>
    <th>Amount</th>
  </tr>
  

	
	<% for contribution in @contributions %>
    <tr>
      <td><%=contribution.ad.title %> /td>
      <td><%= contribution.user.name %> </td>
      <td><%= number_to_currency(contribution.amount) %> </td>
      <td><%= link_to "Show", contribution %></td>
      <td><%= link_to "Edit", edit_contribution_path(contribution) %></td>
      <td><%= link_to "Destroy", contribution, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
	<% end %>
  
</table>



<p><%= link_to "New Contribution", new_contribution_path %></p>

