<% title "Contribution" %>

<p>
  <strong>Ad:</strong>
  <%= @contribution.ad.title %>
</p>
<p>
  <strong>User:</strong>
  <%= @contribution.user.name %>
</p>
<p>
  <strong>Amount:</strong>
  <%= @contribution.amount %>
</p>

<p>
 <% if can? :update, @ad %>
	<%= link_to "Edit", edit_contribution_path(@contribution) %> |
 <% end %>
 
 <if can? :destroy, @ad %>
  <%= link_to "Destroy", @contribution, :confirm => 'Are you sure?', :method => :delete %> |
 <% end %> 
 

</p>
