<% title "Ad" %>

<p>
  <strong>Title:</strong>
  <%= @ad.title %>
</p>



<p>
	<strong> Format: </strong>
	<%= FORMAT[@ad.format] %>	
</p>

<p>
	<% if @ad.image? %>
		<%= image_tag @ad.image.url %>
		<br />
	<% else %>
		No image found
	<% end %>
</p>

<p>
  <strong>User:</strong>
  <%= @ad.user.name %>
</p>
<p>
  <strong>Goal:</strong>
  <%= @ad.goal %>
</p>

 <%= link_to "Contribute", new_contribution_path(:ad_id=>@ad.id) %>

<p>
	
	  <%= link_to "Edit", edit_ad_path(@ad) %> |

		<%= link_to "Destroy", @ad, :confirm => 'Are you sure?', :method => :delete %> |

	<%= link_to "View All", ads_path %>
</p>
