
<h2>  <%= @user.name %> </h2>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

</br>

<p>
	<b> Owned Ads: </b>
	<table>
		<tr>
			<th>Ad</th>
			<th>Amount Raised</th>
			<th>Fundraising Goal </th>
		</tr>
		<% @owned_ads.each do |a| %>   
			<tr>
				<td><%= a.title %></td>
				<td><"Add this functionality"></td>
				<td><%= a.goal %></td>
			</tr>
		<% end %>
	</table>
</p>

</br>


<p>
	<b> Contributions: </b>
	<ul>
	<% @contributions.each do |c| %>   
		<li>  <%= c.ad.title %>: <%=c.amount %></li>
	<% end %>
	</ul>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
