<div id="gallery" class="group">
  <div id="slides">
    <div class="slide"><%= image_tag("Chrys.jpg", :size=>"800x400")%></div>
    <div class="slide"><%= image_tag("Jellyfish.jpg", :size=>"800x400")%></div>
    <div class="slide"><%= image_tag("Koala.jpg", :size=>"800x400")%></div>
    <div class="slide"><%= image_tag("Penguins.jpg", :size=>"800x400")%></div>
  </div>
  <div id="slide_menu">
    <ul>
    <li class="fbar">&nbsp;</li>
    <li class="slide_menuitem"><a href=""><%= image_tag "Chrys.jpg" %></a></li>
    <li class="slide_menuitem"><a href=""><%= image_tag "Jellyfish.jpg" %></a></li>
    <li class="slide_menuitem"><a href=""><%= image_tag "Koala.jpg" %></a></li>
    <li class="slide_menuitem"><a href=""><%= image_tag "Penguins.jpg" %></a></li>
    </ul>
  </div>
</div>

<div id="featuredAd">
  <h4>Featured Campaign</h4>
  <div id="featuredAdContents">
    <div class="projectThumbnail">
      <%= image_tag @featuredAd.image_url.to_s %>
    </div>
    <div class="projectInfo">
      <div class="projectTitle"><%= link_to @featuredAd.title, ad_path(@featuredAd) %></div>
      <div class="projectDescription">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque auctor, arcu sit amet auctor tempor, lacus nulla imperdiet enim, sit amet tempus massa lorem porttitor ipsum. Nullam tristique congue magna, et aliquam dui bibendum gravida. Aliquam sem turpis, placerat eu rhoncus eget, varius at est. Nunc imperdiet turpis vel justo porta sed sollicitudin ante mollis. Sed vehicula nunc a risus dignissim commodo. Aliquam interdum felis non est rutrum sed rhoncus mauris fermentum.</p>
      </div>
      <div class="projectProgress">
        <% contribution_progress = @featuredAd.contribution_progress.round %>
        <p>
          <span class="dollarAmount"><%= number_to_currency(contribution_progress) %></span> of
          <span class="dollarAmount"><%= number_to_currency(@featuredAd.goal) %></span> raised.
        </p>
        <progress max="100" value="<%= contribution_progress %>"></progress>
      </div>
    </div>
  </div>
</div>

<div id="projectList">
  <% for ad in @ads %>
    <div class="project">
      <div class="projectThumbnail">
        <%= image_tag ad.image_url(:thumb).to_s %>
      </div>
      <div class="projectTitle"><%= link_to ad.title, ad_path(ad) %></div>
      <div>Goal: <span class="dollarAmount"><%= number_to_currency(ad.goal) %></span></div>
      <div><%= ad.user.name %></div>
      <div class="projectDescription">
        <p>Aliquam sem turpis, placerat eu rhoncus eget, varius at est. Nunc imperdiet turpis vel justo porta sed sollicitudin ante mollis.</p>
      </div>
      <!--
      <%= link_to "Edit", edit_ad_path(ad) %>
      <%= link_to "Destroy", ad, :confirm => 'Are you sure?', :method => :delete %>
      -->
    </div>
  <% end %>
</div>
