

<% for ad in @ads %>
	<div class="project_list">
		<div class="project_thumbnail">
			<%= image_tag ad.image_url(:thumb).to_s %>
		</div>
		<strong><%= link_to ad.title, ad_path(ad) %></strong><br/>
		Goal: <%= number_to_currency(ad.goal) %><br/>
		<%= ad.user.name %><br/>
		Format:<%= FORMAT[ad.format] %><br/>
		<%= link_to "Edit", edit_ad_path(ad) %>
		<%= link_to "Destroy", ad, :confirm => 'Are you sure?', :method => :delete %>
	</div>
<% end %>