<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">

<html>

  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Social Teeth" %></title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %> <!--*change application to defaults? -->
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>

  <body>

    <div id="header">
      <div id="banner">
        <div id="bannerContents">
          <div id="userWrapper">
            <% if user_signed_in? %>
              <span class="username"><%= current_user.name %></span> |
              <%= link_to("Sign out", destroy_user_session_path, :method => :delete) %>
            <% else %>
            <%= link_to "Sign up", new_user_registration_path %> | <%= link_to "Sign in", new_user_session_path %>
            <% end %>
          </div>
        </div>
      </div>

      <div id="headerContents">
        <div id="logo"><%= link_to "", home_path %></div>
        <nav>
          <ul>
            <li class="<%= current_page_link(ads_path) %>"><%= link_to "Browse Ads", ads_path %></li>
            <li class="<%= current_page_link(new_ad_path) %>"><%= link_to "Submit an Ad", new_ad_path %> </li>
          </ul>
        </nav>
      </div>
    </div>

    <div id="main">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      <%= content_tag :h1, yield(:title) if show_title? %>
      <%= yield %>
    </div>
  </body>
</html>
